# creates variable using jquery - makes sure text that is returned by ruby is valid javascript
# hide the line
var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").show();
# find the div that has id of comments and add the new commetn that we just craeted
$('#comments').prepend(new_comment);
# fade the comment in slowly - so user sees it being added in
$('#comments_<%= @comment.id %>').fadeIn('slow');
# reset the comment varaible
$('#new_comment')[0].reset();

